@inherits LayoutComponentBase

<div class="page" style="background-color : white">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color : white">
        <div style="background-color : white">
            <article class="content px-4 d-flex justify-content-center align-items-center" style="height: 90vh; margin-bottom: 20px;">
                @Body
            </article>
        </div>
    </main>
</div>
