<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ::-webkit-scrollbar {
            width: 8px;
        }

        ::-webkit-scrollbar-track {
            background: white;
        }

        ::-webkit-scrollbar-thumb {
            background: black;
        }
        

        .nav-link {
            padding: 10px; 
        }
    </style>
</head>

<div class="top-row ps-3 navbar navbar-dark" style="background-color : white; font-size: 100%;">
    <div class="container-fluid">
        <div class="top-row ps-3 navbar navbar-dark" style="background-color : white; margin-bottom: 20px;">
            <div class="container-fluid">
                <a class="navbar-brand" style="color: black;" href="dashboard"><h2>YMCA</h2></a>
            </div>
        </div>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()" style="background-color : white; color: black;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Admin
            </NavLink>

            <NavLink class="nav-link" href="bulletinboard" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> BulletinBoard
            </NavLink>

            <NavLink class="nav-link" href="calender" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Calender
            </NavLink>

            <NavLink class="nav-link" href="chats" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Chats
            </NavLink>

            <NavLink class="nav-link" href="chatting" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Chatting
            </NavLink>

            <NavLink class="nav-link" href="dashboard" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Dashboard
            </NavLink>

            <NavLink class="nav-link" href="donate" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Donate
            </NavLink>

            <NavLink class="nav-link" href="landing" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Landing
            </NavLink>

            <NavLink class="nav-link" href="localymca" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Find Local YMCA
            </NavLink>

            <NavLink class="nav-link" href="" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Login
            </NavLink>

            <NavLink class="nav-link" href="news" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> News
            </NavLink>

            <NavLink class="nav-link" href="register" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Register
            </NavLink>

            <NavLink class="nav-link" href="settings" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Settings
            </NavLink>

            <NavLink class="nav-link" href="useraccount" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Account Management
            </NavLink>

            <NavLink class="nav-link" href="volunteer" style="color: black;">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true" style="color: black;"></span> Volunteer
            </NavLink>
        </div>
    </nav>
</div>
