@page "/dashboard"

@inject NavigationManager NavigationManager

<div class="content px-4 d-flex flex-column justify-content-center align-items-center" style="height: 100vh; margin-bottom: 25px;">
    <div class="text-center mb-4">
        <h2>Dashboard</h2>
    </div>

    <div class="w-100" style="max-width: 600px;">
        <div class="d-flex flex-column align-items-center">
            <div>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("AboutUs")' style="width: 150px;">About Us</button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("bulletinboard")' style="width: 150px;">BulletinBoard</button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("news")' style="width: 150px;">News</button>
            </div>

            <div>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("calendar")' style="width: 150px;">Calendar</button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("chats")' style="width: 150px;">Chats</button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("chatting")' style="width: 150px;">Chatting</button>
            </div>

            <div>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("donate")' style="width: 150px;">Donate</button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("localymca")' style="width: 150px;">Find Local YMCA</button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("volunteer")' style="width: 150px;">Volunteer</button>
            </div>

        </div>
    </div>
</div>

@code {
    private void NavigateTo(string page)
    {
        NavigationManager.NavigateTo($"/{page}");
    }
}
