@page "/dashboard"

@inject NavigationManager NavigationManager

<div class="content px-4 d-flex flex-column justify-content-center align-items-center" style="height: 100vh; margin-bottom: 25px;">
    <div class="text-center mb-4">
        <h2>Dashboard</h2>
    </div>

    <div class="w-100" style="max-width: 600px;">
        <div class="d-flex flex-column align-items-center">
            <div>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("AboutUs")' style="width: 150px; background-color: #EC1F26; text-align: center; margin-left: 10px; margin-right: 10px; border-radius: 8px;">
                    <img src="/AboutUs_icon.ico" alt="About Us Icon" style="display: block; margin: 10px auto 0 auto; width: 59px; height: 59px;" /> <br /> About Us
                </button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("bulletinboard")' style="width: 150px; background-color: #EC1F26; text-align: center; margin-left: 10px; margin-right: 10px; border-radius: 8px;">
                    <img src="/bulletin_icon.ico" alt="Bulletin Icon" style="display: block; margin: 10px auto 0 auto; width: 59px; height: 59px;" /> <br /> BulletinBoard
                </button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("news")' style="width: 150px; background-color: #EC1F26; text-align: center; margin-left: 10px; margin-right: 10px; border-radius: 8px;">
                    <img src="/news_icon.ico" alt="News Icon" style="display: block; margin: 10px auto 0 auto; width: 59px; height: 59px;" /> <br /> News
                </button>
            </div>

            <div>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("calendar")' style="width: 150px; background-color: #EC1F26; text-align: center; margin-left: 10px; margin-right: 10px; border-radius: 8px;">
                    <img src="/calendar_icon.ico" alt="Calendar Icon" style="display: block; margin: 10px auto 0 auto; width: 59px; height: 59px;" /> <br /> Calendar
                </button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("chats")' style="width: 150px; background-color: #EC1F26; text-align: center; margin-left: 10px; margin-right: 10px; border-radius: 8px;">
                    <img src="/chatting_icon.ico" alt="Chats Icon" style="display: block; margin: 10px auto 0 auto; width: 59px; height: 59px;" /> <br /> Chats
                </button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("chatting")' style="width: 150px; background-color: #EC1F26; text-align: center; margin-left: 10px; margin-right: 10px; border-radius: 8px;">
                    <img src="/chat_icon.ico" alt="Chatting Icon" style="display: block; margin: 10px auto 0 auto; width: 59px; height: 59px;" /> <br /> Chatting
                </button>
            </div>

            <div>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("donate")' style="width: 150px; background-color: #EC1F26; text-align: center; margin-left: 10px; margin-right: 10px; border-radius: 8px;">
                    <img src="/donate_icon.ico" alt="Donate Icon" style="display: block; margin: 10px auto 0 auto; width: 59px; height: 59px;" /> <br /> Donate
                </button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("localymca")' style="width: 150px; background-color: #EC1F26; text-align: center; margin-left: 10px; margin-right: 10px; border-radius: 8px;">
                    <img src="/location_icon.ico" alt="Find Local YMCA Icon" style="display: block; margin: 10px auto 0 auto; width: 59px; height: 59px;" /> <br /> Find Local YMCA
                </button>
                <button class="btn btn-primary mb-3" @onclick='() => NavigateTo("volunteer")' style="width: 150px; background-color: #EC1F26; text-align: center; margin-left: 10px; margin-right: 10px; border-radius: 8px;">
                    <img src="/volunteer_icon.ico" alt="Volunteer Icon" style="display: block; margin: 10px auto 0 auto; width: 59px; height: 59px;" /> <br /> Volunteer
                </button>
            </div>
        </div>
    </div>
</div>

@code {
    private void NavigateTo(string page)
    {
        NavigationManager.NavigateTo($"/{page}");
    }
}
