@page "/donate" 

<div class="d-flex justify-content-center" style="margin-bottom: 25px;">
<h3>Donate</h3>
</div>

<div class="d-flex justify-content-center" style="margin-bottom: 20px;">
	<h6 style="text-align: center;">
	Every year, YMCA South Africa makes a profound difference in the lives of young people <br>
	across our communities. By joining us in this transformative journey, <br>
	you have the opportunity to be a beacon of hope, contributing to the health, <br>
	emotional well-being, and leadership growth of our youth. <br>
	Together, we can empower the next generation to reach their full potential.
</h6>
	</div>

<div class="d-flex justify-content-center" style="margin-bottom: 5px;">
	<h5 style="text-align: center;">EFT BANKING DETAILS</h5>
	</div>

<div class="d-flex justify-content-center" style="margin-bottom: 10px;">
	<h6 style="text-align: center;">
		<strong>
		Account Name: SA National Council of YMCAs <br>

		FNB Branch Number: 251905 <br>

		Account number: 61054121143 <br>
</strong></h6>
</div>

<div class="d-flex justify-content-center">
	<h6 style="text-align: center;">
	Please use "donation” and your name in the reference and email proof of payment to <br>
	national@saymca.org.za so that we can thank you.
</h6>
</div>



@code {

}
