@page "/donate"

<div class="container d-flex flex-column align-items-center" style="margin-top: 25px; margin-bottom: 25px;">
    <!-- Title -->
    <div class="text-center mb-4">
        <h3>Donate</h3>
    </div>

    <!-- Description -->
    <div class="text-center mb-4">
        <h6>
            Every year, YMCA South Africa makes a profound difference in the lives of young<br>
            people across our communities. By joining us in this transformative journey, <br>
            you have the opportunity to be a beacon of hope, contributing to the health, <br>
            emotional well-being, and leadership growth of our youth. <br>
            Together, we can empower the next generation to reach their full potential.
        </h6>
    </div>

    <!-- EFT Banking Details -->
    <div class="text-center mb-3">
        <h5>EFT BANKING DETAILS</h5>
    </div>

    <!-- Banking Details -->
    <div class="text-center mb-3">
        <h6>
            <strong>
                Account Name: SA National Council of YMCAs <br>
                FNB Branch Number: 251905 <br>
                Account number: 61054121143 <br>
            </strong>
        </h6>
    </div>

    <!-- Reference Instructions -->
    <div class="text-center">
        <h6>
            Please use "donation” and your name in the reference and email proof of payment to <br>
            national@saymca.org.za so that we can thank you.
        </h6>
    </div>
</div>
