@page "/"

<div class="landing-screen d-flex justify-content-center align-items-center" style="height: 100vh; margin-bottom: 25px;">
    <h1>@displayText</h1>
</div>

@code {
    private string displayText = string.Empty;
    private readonly string fullText = "YMCA";

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        for (int i = 0; i < fullText.Length; i++)
        {
            displayText = fullText.Substring(0, i + 1);
            StateHasChanged();
            await Task.Delay(1000); 
        }


        displayText = fullText;
        StateHasChanged();
        await Task.Delay(500); 

        NavigateToLoginPage();
    }

    private void NavigateToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }
}
