@page "/"

<style>
    /* Partial-page background */
    .background {
        position: fixed;
        top: 0;
        left: 240px; /* Adjust this value to start the background image to the right of the sidebar */
        width: calc(100% - 200px); /* Reduce width to account for sidebar width */
        height: 100%;
        background-image: url('/blur-background.ico');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1; /* Place background behind the content */
    }

    /* Content area styling */
    .content {
        position: relative;
        z-index: 1; /* Ensure content is on top of the background */
    }
</style>

<!-- Background Image Div -->
<div class="background"></div>

<div class="landing-screen d-flex justify-content-center align-items-center" style="height: 100vh; margin-bottom: 25px;">
    <h1>@displayText</h1>
</div>

@code {
    private string displayText = string.Empty;
    private readonly string fullText = "YMCA";

    [Inject]
    private NavigationManager NavigationManager { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        for (int i = 0; i < fullText.Length; i++)
        {
            displayText = fullText.Substring(0, i + 1);
            StateHasChanged();
            await Task.Delay(500);
        }


        displayText = fullText;
        StateHasChanged();
        await Task.Delay(250);

        NavigateToLoginPage();
    }

    private void NavigateToLoginPage()
    {
        NavigationManager.NavigateTo("/login");
    }
}
