@page "/localymca"

<style>
    /* Partial-page background */
    .background {
        position: fixed;
        top: 0;
        left: 240px; /* Adjust this value to start the background image to the right of the sidebar */
        width: calc(100% - 200px); /* Reduce width to account for sidebar width */
        height: 100%;
        background-image: url('/blur-background.ico');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1; /* Place background behind the content */
    }

    /* Content area styling */
    .content {
        position: relative;
        z-index: 1; /* Ensure content is on top of the background */
    }
</style>

<!-- Background Image Div -->
<div class="background"></div>

<div class="content px-4 d-flex flex-column justify-content-center align-items-center" style="height: 100vh; margin-bottom: 25px;">

    <div class="text-center mb-4">
        <h2>Find Your Local YMCA</h2>
    </div>

    <div class="container my-4" style="max-height: 90vh; overflow-y: auto;">
        <p class="text-center mb-4">
            Explore the local YMCA branches offering various programs and services.
        </p>

        <div class="row">
            <!-- Branch 1 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694123622501-T5GR2DU21C1S9FYEPANN/image-10.jpg?format=1500w" class="card-img-top" alt="UCT Student YMCA" />
                    <div class="card-body text-center">
                        <h5 class="card-title">UCT Student YMCA</h5>
                        <a href="/uct-student-ymca" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 2 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694135511474-I3V0QRCSKJRUX4M0G5II/330833123_6145602315534590_8808053037685820628_n.jpeg?format=1500w" class="card-img-top" alt="YMCA Nelson Mandela Bay" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Nelson Mandela Bay</h5>
                        <a href="/ymca-nelson-mandela-bay" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 3 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694135116260-KHYS9KIU1WJ0B2K1H2NI/66274344_969709640059327_732155138557822881_n.jpg?format=1500w" class="card-img-top" alt="UKZN Student YMCA" />
                    <div class="card-body text-center">
                        <h5 class="card-title">UKZN Student YMCA</h5>
                        <a href="/ukzn-student-ymca" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 4 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694134729207-F76NV5PDRGAIF60A8C6K/38281761_295080087917555_541993845911453696_n.jpg?format=1500w" class="card-img-top" alt="YMCA Pietermaritzburg" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Pietermaritzburg</h5>
                        <a href="/ymca-pietermaritzburg" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 5 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1698828292627-N4WAQBZR5FBB6TUAXSRD/368382085_597181429288812_5733505738461870656_n.jpeg?format=1500w" class="card-img-top" alt="YMCA Greater Durban" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Greater Durban</h5>
                        <a href="/ymca-greater-durban" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 6 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694133295748-R2WG0D8QN75IVGZ8V1RS/369933581_313231051079498_2465141917365387434_n.jpeg?format=2500w" class="card-img-top" alt="YMCA Ga-Rankuwa" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Ga-Rankuwa</h5>
                        <a href="/ymca-ga-rankuwa" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 7 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694132285002-M82XTBWKMUWT0H4MG4MF/363411575_674739958030010_5375763286037684295_n.jpeg?format=1500w" class="card-img-top" alt="YMCA Soweto" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Soweto</h5>
                        <a href="/ymca-soweto" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 8 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694131148084-WY12M6VM9SUYBNCCCSWY/278203115_1956017494603027_7369839228894426025_n.jpeg?format=1500w" class="card-img-top" alt="YMCA Ravensmead" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Ravensmead</h5>
                        <a href="/ymca-ravensmead" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 9 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694130695852-12ARRYC53F6RYIWQFAJ1/347253727_277712144652565_5786814027306535492_n.jpeg?format=1500w" class="card-img-top" alt="YMCA Cape Town" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Cape Town</h5>
                        <a href="/ymca-cape-town" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 10 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694130522435-QD1D52FTJ4RB7L9ZP85O/355763425_947208683140828_6988474599242338121_n.jpeg?format=1500w" class="card-img-top" alt="YMCA Bloemfontein" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Bloemfontein</h5>
                        <a href="/ymca-bloemfontein" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 11 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694130425603-62B50AB0W7K1S6FV9E7L/364244850_1366423544889747_8358484355693731264_n.jpeg?format=1500w" class="card-img-top" alt="YMCA Germiston" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Germiston</h5>
                        <a href="/ymca-germiston" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>

            <!-- Branch 12 -->
            <div class="col-md-6 mb-4">
                <div class="card">
                    <img src="https://images.squarespace-cdn.com/content/v1/64a3c4a339812235844b7905/1694130220700-9PHZMA7ZTR1M3Z0BN1K1/352373942_564661752694664_2974792757996090674_n.jpeg?format=1500w" class="card-img-top" alt="YMCA Randburg" />
                    <div class="card-body text-center">
                        <h5 class="card-title">YMCA Randburg</h5>
                        <a href="/ymca-randburg" class="btn btn-primary" style="background-color: #EC1F26; border-color: #EC1F26;">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
