@page "/register"

@inject NavigationManager NavigationManager

<style>
    /* Partial-page background */
    .background {
        position: fixed;
        top: 0;
        left: 240px; /* Adjust this value to start the background image to the right of the sidebar */
        width: calc(100% - 200px); /* Reduce width to account for sidebar width */
        height: 100%;
        background-image: url('/blur-background.ico');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: -1; /* Place background behind the content */
    }

    /* Content area styling */
    .content {
        position: relative;
        z-index: 1; /* Ensure content is on top of the background */
    }
</style>

<!-- Background Image Div -->
<div class="background"></div>

<div class="content px-4 d-flex flex-column justify-content-center align-items-center" style="height: 100vh; margin-bottom: 25px;">

    <div class="text-center mb-4">
        <h2>Register</h2>
    </div>

    <div class="w-100" style="max-width: 400px;">
        <form>
            <div class="mb-3">
                <input type="text" id="userFullname" class="form-control form-control-lg shadow" placeholder="Full name" />
            </div>

            <div class="mb-3">
                <input type="text" id="userEmail" class="form-control form-control-lg shadow" placeholder="Email" />
            </div>

            <div class="mb-3">
                <input type="text" id="userPhoneNumber" class="form-control form-control-lg shadow" placeholder="Phone Number" />
            </div>

            <div class="mb-3">
                <input type="text" id="userCity" class="form-control form-control-lg shadow" placeholder="City" />
            </div>

            <div class="mb-3">
                <input type="password" id="userConfirmPassword" class="form-control form-control-lg shadow" placeholder="Confirm Password" />
            </div>

            <div class="mb-3">
                <input type="password" id="userPassword" class="form-control form-control-lg shadow" placeholder="Password" />
            </div>

            <div class="d-flex justify-content-center mb-4">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="rememberMe" checked />
                    <label class="form-check-label" for="rememberMe"> Remember me </label>
                </div>
            </div>

            <div class="text-center">
                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block btn-lg shadow" style="background-color: #EC1F26; border-color: #EC1F26;" @onclick="NavigateToLogin">Register</button>
            </div>
        </form>
    </div>
</div>

@code {
    private void NavigateToLogin()
    {
        NavigationManager.NavigateTo("/login");
    }
}
